body {
    margin: 0;
    font-family: 'Courier New', Courier;
  }
  
  #product-header {
    display: flex;
    justify-content: center;
    background: #100e17;
    opacity: .8;
    height: 7rem;
    padding: .5rem;
  }
  
  #product-header img {
    display: flex;
    height: 17rem;
    width: auto;
    position: relative;
    top: -70px; 
  }
  
  #product-collection {
    margin: 2rem;
  }
  
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #ff5757
  }
  
  .product-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  button {
    position: relative;
    background-color: #ff5757;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #ff5757 solid 1px;
    color: #ff5757;
  }
  
  .container {
    color: #ff5757;
    text-align: center;
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #100e17;
    opacity: .8;
  }
  
  .add-product-form {
    text-align: center;

  }
  .herd-bio {
    text-align: center;
    padding-top: 30px;
  }
  
  .submit {
    position: relative;
    background-color: #ff5757;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #ff5757 solid 1px;
    color: #ff5757;
  }
  
  
  #input-text {
    border-radius: 10px;
    height: 2rem;
    width: 30%;
    font-size: 18px;
    font-family: "Courier New", Courier;
    margin: 3px;
  }
  #input-textarea {
    border-radius: 10px;
    height: 10rem;
    width: 30%;
    font-size: 18px;
    font-family: "Courier New", Courier;
    margin: 3px;
  }

  